{
    "openapi": "3.0.1",
    "info": {
        "title": "Adventure Bucket List API",
        "version": "1.0",
        "description": "Adventure Bucket List provides developers with a simple and powerful REST API to integrate your applications with our Activities Marketplace, enabling you to display activity information and availability in real time and create bookings.",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "email": "support@adventurebucketlist.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "x-logo": {
            "url": "https://assets.ablsolution.com/corp/logo-inverse.png",
            "backgroundColor": "#FFFFFF"
        }
    },
    "servers": [
        {
            "url": "https://dashboard.adventurebucketlist.com/api/v1/"
        }
    ],
    "paths": {
        "/me": {
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/loginProfile"
                                }
                            }
                        },
                        "description": "successful operation"
                    }
                },
                "summary": "User",
                "description": "Returns current logged in users data",
                "x-summary": "Return all relevant user details as a single object",
                "x-code-samples": {
                    "lang": "javascript",
                    "label": "node",
                    "source": "{ 'id': '59f90968af8286149d5b1f08' }"
                }
            }
        },
        "/activities": {
            "get": {
                "parameters": [
                    {
                        "examples": {
                            "pageSize": {
                                "value": "100"
                            }
                        },
                        "name": "pageSize",
                        "schema": {
                            "type": "number"
                        },
                        "in": "query"
                    },
                    {
                        "name": "page",
                        "schema": {
                            "type": "number"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "Default": {
                                "value": "false"
                            }
                        },
                        "name": "noEmpty",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    },
                    {
                        "name": "startDate",
                        "schema": {
                            "format": "date-time",
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "Start Time": {
                                "value": "\"2018-02-10T09:30Z\""
                            }
                        },
                        "name": "endDate",
                        "schema": {
                            "format": "date-time",
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "X-ABL-ACCESS-KEY",
                        "description": "Should contain merchant ID obtained from get code section of the Dashboard.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Activity"
                                    }
                                }
                            }
                        },
                        "description": "successful operation"
                    }
                },
                "summary": "Activities",
                "description": "Returns a list of valid activities for the current operator"
            }
        },
        "/timeslots": {
            "get": {
                "parameters": [
                    {
                        "name": "activity",
                        "schema": {
                            "format": "ObjectId",
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "status[event]",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "pageSize",
                        "schema": {
                            "type": "number"
                        },
                        "in": "query"
                    },
                    {
                        "name": "page",
                        "schema": {
                            "type": "number"
                        },
                        "in": "query"
                    },
                    {
                        "name": "startDate",
                        "schema": {
                            "format": "date-time",
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "endDate",
                        "schema": {
                            "format": "date-time",
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TimeSlot"
                                    }
                                }
                            }
                        },
                        "description": "successful operation"
                    }
                },
                "summary": "Timeslots",
                "description": "Returns a list of active timeslots for the activity"
            }
        },
        "/pricing-quotes": {
            "summary": "Pricing Quote",
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PricingQuoteRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PricingQuoteResponse"
                                }
                            }
                        },
                        "description": "Success"
                    }
                },
                "summary": "Pricing Quote"
            },
            "parameters": [
                {
                    "name": "X-ABL-ACCESS-KEY",
                    "description": "Merchant ID obtained from the get code section in the Dashboard",
                    "schema": {

                    },
                    "in": "header"
                }
            ]
        },
        "/bookings": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewBookingRequest"
                            }
                        }
                    },
                    "required": true
                },
                "parameters": [
                    {
                        "name": "X-ABL-ACCESS-KEY",
                        "description": "Should contain merchant ID obtained from get code section of the Dashboard.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BookingResponse"
                                },
                                "examples": {
                                    "Sample Booking response": {
                                        "value": {
                                            "booking": {
                                                "_id": "",
                                                "organizations": [
                                                    "",
                                                    ""
                                                ],
                                                "activity": "",
                                                "apiKey": "",
                                                "transaction": "",
                                                "answers": [
                                                    "",
                                                    ""
                                                ],
                                                "clientData": {
                                                    "email": "some text",
                                                    "fullName": "some text",
                                                    "phoneNumber": "some text"
                                                },
                                                "bookingId": "some text",
                                                "checkin": "2018-02-10T09:30Z",
                                                "eventInstanceId": "some text",
                                                "isMobile": true,
                                                "notes": "some text",
                                                "startTime": "2018-02-10T09:30Z",
                                                "timeZone": "some text",
                                                "metadata": {

                                                },
                                                "title": "some text",
                                                "status": "failed"
                                            },
                                            "Transaction": {
                                                "organization": "",
                                                "items": [
                                                    {
                                                        "name": "some text",
                                                        "price": 17,
                                                        "percent": 18,
                                                        "quantity": 0,
                                                        "type": "aup",
                                                        "owner": "abl"
                                                    },
                                                    {
                                                        "name": "some text",
                                                        "price": 17,
                                                        "percent": 94,
                                                        "quantity": 47,
                                                        "type": "addon",
                                                        "owner": "abl"
                                                    }
                                                ],
                                                "itemHistory": [
                                                    {
                                                        "name": "some text",
                                                        "price": 30,
                                                        "percent": 25,
                                                        "quantity": 9,
                                                        "type": "addon",
                                                        "owner": "abl"
                                                    },
                                                    {
                                                        "name": "some text",
                                                        "price": 4,
                                                        "percent": 41,
                                                        "quantity": 94,
                                                        "type": "one_time-credit",
                                                        "owner": "abl"
                                                    }
                                                ],
                                                "paymentStates": [
                                                    {
                                                        "type": "other",
                                                        "id": "some text",
                                                        "amount": 62,
                                                        "method": "gift"
                                                    },
                                                    {
                                                        "type": "stripe",
                                                        "id": "some text",
                                                        "amount": 97,
                                                        "method": "credit"
                                                    }
                                                ],
                                                "payments": [
                                                    {
                                                        "amount": 77,
                                                        "applicationFee": 75,
                                                        "currency": "usd",
                                                        "id": "some text",
                                                        "method": "transfer"
                                                    },
                                                    {
                                                        "amount": 55,
                                                        "applicationFee": 20,
                                                        "currency": "cad",
                                                        "id": "some text",
                                                        "method": "cash"
                                                    }
                                                ],
                                                "refunds": [
                                                    {
                                                        "ids": [
                                                            "some text",
                                                            "some text"
                                                        ],
                                                        "method": "cash",
                                                        "amount": 69,
                                                        "description": "some text",
                                                        "thirdPartyData": [
                                                            {

                                                            },
                                                            {

                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "ids": [
                                                            "some text",
                                                            "some text"
                                                        ],
                                                        "method": "transfer",
                                                        "amount": 4,
                                                        "description": "some text",
                                                        "thirdPartyData": [
                                                            {

                                                            },
                                                            {

                                                            }
                                                        ]
                                                    }
                                                ],
                                                "stripeCustomer": {

                                                },
                                                "coupon": "",
                                                "itemTotal": 73,
                                                "paymentTotal": 65,
                                                "amountOwed": 40
                                            },
                                            "modifiedPaths": {

                                            },
                                            "iframeHtml": {

                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Booking Successful"
                    }
                },
                "summary": "Bookings"
            }
        },
        "/events/list": {
            "get": {
                "parameters": [
                    {
                        "name": "startTime",
                        "description": "",
                        "schema": {
                            "format": "date-time",
                            "type": "string"
                        },
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "endTime",
                        "description": "",
                        "schema": {
                            "format": "date-time",
                            "type": "string"
                        },
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "activity",
                        "description": "Optional field to get only the events from a specific activity. The value should be _id of the activity.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Event"
                                    }
                                },
                                "examples": {
                                    "Success response": {
                                        "value": [
                                            {
                                                "_id": "",
                                                "organizations": [
                                                    "",
                                                    ""
                                                ],
                                                "timeslot": "",
                                                "guides": [
                                                    "",
                                                    ""
                                                ],
                                                "bookings": [
                                                    "",
                                                    ""
                                                ],
                                                "calendarId": "some text",
                                                "eventInstanceId": "some text",
                                                "startTime": "2018-02-10T09:30Z",
                                                "endTime": "2018-02-10T09:30Z",
                                                "originalStartTime": "2018-02-10T09:30Z",
                                                "originalEndTime": "2018-02-10T09:30Z",
                                                "timeZone": "some text",
                                                "attendees": 43,
                                                "occupancy": 2,
                                                "status": "inactive",
                                                "title": "some text",
                                                "originalTitle": "some text",
                                                "description": "some text",
                                                "originalDescription": "some text"
                                            },
                                            {
                                                "_id": "",
                                                "organizations": [
                                                    "",
                                                    ""
                                                ],
                                                "timeslot": "",
                                                "guides": [
                                                    "",
                                                    ""
                                                ],
                                                "bookings": [
                                                    "",
                                                    ""
                                                ],
                                                "calendarId": "some text",
                                                "eventInstanceId": "some text",
                                                "startTime": "2018-02-10T09:30Z",
                                                "endTime": "2018-02-10T09:30Z",
                                                "originalStartTime": "2018-02-10T09:30Z",
                                                "originalEndTime": "2018-02-10T09:30Z",
                                                "timeZone": "some text",
                                                "attendees": 47,
                                                "occupancy": 79,
                                                "status": "active",
                                                "title": "some text",
                                                "originalTitle": "some text",
                                                "description": "some text",
                                                "originalDescription": "some text"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Returns list of events for the requested date range"
                    }
                },
                "summary": "Event list"
            },
            "parameters": [
                {
                    "name": "X-ABL-ACCESS-KEY",
                    "description": "Merchant ID obtained from get code section of the Dashboard.",
                    "schema": {
                        "type": "string"
                    },
                    "in": "header",
                    "required": true
                }
            ]
        },
        "/activities/{activityId}": {
            "get": {
                "parameters": [
                    {
                        "name": "X-ABL-ACCESS-KEY",
                        "description": "Should contain merchant ID obtained from get code section of the Dashboard.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Activity"
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "_id": "",
                                            "organizations": [
                                                "",
                                                ""
                                            ],
                                            "timeslots": [
                                                "",
                                                ""
                                            ],
                                            "charges": [
                                                "",
                                                ""
                                            ],
                                            "questions": [
                                                "",
                                                ""
                                            ],
                                            "location": "",
                                            "color": "FFCC33",
                                            "cutoff": 51,
                                            "isListed": true,
                                            "requirements": [
                                                "some text",
                                                "some text"
                                            ],
                                            "timeZone": "some text",
                                            "whatIncluded": [
                                                "some text",
                                                "some text"
                                            ],
                                            "whatToBring": [
                                                "some text",
                                                "some text"
                                            ],
                                            "published": true,
                                            "widgetOrder": 21,
                                            "status": "inactive",
                                            "title": "some text",
                                            "originalTitle": "some text",
                                            "description": "some text",
                                            "originalDescription": "some text",
                                            "images": [
                                                "some text",
                                                "some text"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Returns activity details"
                    }
                },
                "summary": "Activity"
            },
            "parameters": [
                {
                    "name": "activityId",
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/events/{eventInstanceId}": {
            "get": {
                "parameters": [
                    {
                        "name": "X-ABL-ACCESS-KEY",
                        "description": "Should contain merchant ID obtained from get code section of the Dashboard.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEventResponse"
                                },
                                "examples": {
                                    "Success Response": {
                                        "value": {
                                            "activity": {
                                                "_id": "",
                                                "organizations": [
                                                    "",
                                                    ""
                                                ],
                                                "timeslots": [
                                                    "",
                                                    ""
                                                ],
                                                "charges": [
                                                    "",
                                                    ""
                                                ],
                                                "questions": [
                                                    "",
                                                    ""
                                                ],
                                                "location": "",
                                                "color": "336666",
                                                "cutoff": 80,
                                                "isListed": true,
                                                "requirements": [
                                                    "some text",
                                                    "some text"
                                                ],
                                                "timeZone": "some text",
                                                "whatIncluded": [
                                                    "some text",
                                                    "some text"
                                                ],
                                                "whatToBring": [
                                                    "some text",
                                                    "some text"
                                                ],
                                                "published": true,
                                                "widgetOrder": 88,
                                                "status": "active",
                                                "title": "some text",
                                                "originalTitle": "some text",
                                                "description": "some text",
                                                "originalDescription": "some text",
                                                "images": [
                                                    "some text",
                                                    "some text"
                                                ]
                                            },
                                            "timeslot": {
                                                "organizations": [
                                                    "",
                                                    ""
                                                ],
                                                "activity": "",
                                                "guides": [
                                                    "",
                                                    ""
                                                ],
                                                "events": [
                                                    "",
                                                    ""
                                                ],
                                                "charges": [
                                                    "",
                                                    ""
                                                ],
                                                "calendarId": "some text",
                                                "eventId": "some text",
                                                "timeZone": "some text",
                                                "single": true,
                                                "daysRunning": [
                                                    76,
                                                    32
                                                ],
                                                "originalDaysRunning": [
                                                    18,
                                                    60
                                                ],
                                                "startTime": "2018-02-10T09:30Z",
                                                "originalStartTime": "2018-02-10T09:30Z",
                                                "endTime": "2018-02-10T09:30Z",
                                                "originalEndTime": "2018-02-10T09:30Z",
                                                "untiltime": "2018-02-10T09:30Z",
                                                "originalUntiltime": "2018-02-10T09:30Z",
                                                "createdAt": "2018-02-10T09:30Z",
                                                "updatedAt": "2018-02-10T09:30Z"
                                            },
                                            "event": {
                                                "_id": "",
                                                "organizations": [
                                                    "",
                                                    ""
                                                ],
                                                "timeslot": "",
                                                "guides": [
                                                    "",
                                                    ""
                                                ],
                                                "bookings": [
                                                    "",
                                                    ""
                                                ],
                                                "calendarId": "some text",
                                                "eventInstanceId": "some text",
                                                "startTime": "2018-02-10T09:30Z",
                                                "endTime": "2018-02-10T09:30Z",
                                                "originalStartTime": "2018-02-10T09:30Z",
                                                "originalEndTime": "2018-02-10T09:30Z",
                                                "timeZone": "some text",
                                                "attendees": 45,
                                                "occupancy": 2,
                                                "status": "inactive",
                                                "title": "some text",
                                                "originalTitle": "some text",
                                                "description": "some text",
                                                "originalDescription": "some text"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Returns event details"
                    }
                },
                "summary": "Event"
            },
            "parameters": [
                {
                    "name": "eventInstanceId",
                    "description": "combo of event id and start date of the event in the format `eventId_YYYYMMDDTHHmmssZ`\neventId can be obtained from the timeslot object.\n",
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/operators/{merchantId}": {
            "parameters": [
                {
                    "name": "merchantId",
                    "description": "Merchant ID obtained from get code section of the Dashboard.",
                    "in": "path",
                    "required": true
                }
            ]
        }
    },
    "components": {
        "schemas": {
            "AAP": {
                "type": "object",
                "properties": {
                    "organizations": {
                        "type": "array",
                        "items": {
                            "format": "ObjectId",
                            "type": "string"
                        }
                    },
                    "name": {
                        "type": "string"
                    },
                    "status": {
                        "enum": [
                            "active",
                            "inactive"
                        ],
                        "type": "string"
                    }
                }
            },
            "Activity": {
                "type": "object",
                "properties": {
                    "_id": {
                        "format": "ObjectId",
                        "type": "string"
                    },
                    "organizations": {
                        "type": "array",
                        "items": {
                            "format": "ObjectId",
                            "type": "string"
                        }
                    },
                    "timeslots": {
                        "type": "array",
                        "items": {
                            "format": "ObjectId",
                            "type": "string"
                        }
                    },
                    "charges": {
                        "type": "array",
                        "items": {
                            "format": "ObjectId",
                            "type": "string"
                        }
                    },
                    "questions": {
                        "type": "array",
                        "items": {
                            "format": "ObjectId",
                            "type": "string"
                        }
                    },
                    "location": {
                        "format": "ObjectId",
                        "type": "string"
                    },
                    "color": {
                        "enum": [
                            "336633",
                            "338833",
                            "339933",
                            "33CC33",
                            "33FF33",
                            "663333",
                            "993333",
                            "33FFFF",
                            "33CCCC",
                            "339999",
                            "336666",
                            "3333FF",
                            "3333CC",
                            "333399",
                            "333366",
                            "CC6600",
                            "FF9933",
                            "663366",
                            "993399",
                            "CC33CC",
                            "FF33FF",
                            "FFCC33",
                            "CC9933"
                        ],
                        "type": "string"
                    },
                    "cutoff": {
                        "type": "integer"
                    },
                    "isListed": {
                        "type": "boolean"
                    },
                    "requirements": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "timeZone": {
                        "type": "string"
                    },
                    "whatIncluded": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "whatToBring": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "published": {
                        "type": "boolean"
                    },
                    "widgetOrder": {
                        "type": "integer"
                    },
                    "status": {
                        "enum": [
                            "active",
                            "inactive"
                        ],
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "originalTitle": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "originalDescription": {
                        "type": "string"
                    },
                    "images": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "ApiKey": {
                "type": "object",
                "properties": {
                    "user": {
                        "format": "ObjectId",
                        "type": "string"
                    },
                    "organizations": {
                        "type": "array",
                        "items": {
                            "format": "ObjectId",
                            "type": "string"
                        }
                    },
                    "publicKey": {
                        "type": "string"
                    },
                    "privateKey": {
                        "type": "string"
                    },
                    "label": {
                        "type": "string"
                    },
                    "permissions": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "netMaskV4": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "netMaskV6": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "public": {
                        "type": "boolean"
                    },
                    "status": {
                        "enum": [
                            "active",
                            "inactive"
                        ],
                        "type": "string"
                    }
                }
            },
            "Event": {
                "type": "object",
                "properties": {
                    "_id": {
                        "format": "ObjectId",
                        "type": "string"
                    },
                    "organizations": {
                        "type": "array",
                        "items": {
                            "format": "ObjectId",
                            "type": "string"
                        }
                    },
                    "timeslot": {
                        "format": "ObjectId",
                        "type": "string"
                    },
                    "guides": {
                        "type": "array",
                        "items": {
                            "format": "ObjectId",
                            "type": "string"
                        }
                    },
                    "bookings": {
                        "type": "array",
                        "items": {
                            "format": "ObjectId",
                            "type": "string"
                        }
                    },
                    "calendarId": {
                        "type": "string"
                    },
                    "eventInstanceId": {
                        "type": "string"
                    },
                    "startTime": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "endTime": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "originalStartTime": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "originalEndTime": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "timeZone": {
                        "type": "string"
                    },
                    "attendees": {
                        "type": "integer"
                    },
                    "occupancy": {
                        "type": "integer"
                    },
                    "status": {
                        "enum": [
                            "active",
                            "inactive"
                        ],
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "originalTitle": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "originalDescription": {
                        "type": "string"
                    }
                }
            },
            "Booking": {
                "type": "object",
                "properties": {
                    "_id": {
                        "format": "ObjectId",
                        "type": "string"
                    },
                    "organizations": {
                        "description": "[Operator, Affiliate, Client]",
                        "type": "array",
                        "items": {
                            "format": "ObjectId",
                            "type": "string"
                        }
                    },
                    "activity": {
                        "format": "ObjectId",
                        "type": "string"
                    },
                    "apiKey": {
                        "format": "ObjectId",
                        "type": "string"
                    },
                    "transaction": {
                        "format": "ObjectId",
                        "type": "string"
                    },
                    "answers": {
                        "type": "array",
                        "items": {
                            "format": "ObjectId",
                            "type": "string"
                        }
                    },
                    "clientData": {
                        "type": "object",
                        "properties": {
                            "email": {
                                "type": "string"
                            },
                            "fullName": {
                                "type": "string"
                            },
                            "phoneNumber": {
                                "type": "string"
                            }
                        }
                    },
                    "bookingId": {
                        "type": "string"
                    },
                    "checkin": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "eventInstanceId": {
                        "type": "string"
                    },
                    "isMobile": {
                        "type": "boolean"
                    },
                    "notes": {
                        "type": "string"
                    },
                    "startTime": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "timeZone": {
                        "type": "string"
                    },
                    "metadata": {
                        "type": "object"
                    },
                    "title": {
                        "type": "string"
                    },
                    "status": {
                        "enum": [
                            "paid",
                            "unpaid",
                            "cancelled",
                            "refunded",
                            "failed"
                        ],
                        "type": "string"
                    }
                }
            },
            "TimeSlot": {
                "type": "object",
                "properties": {
                    "organizations": {
                        "type": "array",
                        "items": {
                            "format": "ObjectId",
                            "type": "string"
                        }
                    },
                    "activity": {
                        "format": "ObjectId",
                        "type": "string"
                    },
                    "guides": {
                        "type": "array",
                        "items": {
                            "format": "ObjectId",
                            "type": "string"
                        }
                    },
                    "events": {
                        "type": "array",
                        "items": {
                            "format": "ObjectId",
                            "type": "string"
                        }
                    },
                    "charges": {
                        "type": "array",
                        "items": {
                            "format": "ObjectId",
                            "type": "string"
                        }
                    },
                    "calendarId": {
                        "type": "string"
                    },
                    "eventId": {
                        "type": "string"
                    },
                    "timeZone": {
                        "type": "string"
                    },
                    "single": {
                        "default": false,
                        "type": "boolean"
                    },
                    "daysRunning": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    },
                    "originalDaysRunning": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    },
                    "startTime": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "originalStartTime": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "endTime": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "originalEndTime": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "untiltime": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "originalUntiltime": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "createdAt": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "updatedAt": {
                        "format": "date-time",
                        "type": "string"
                    }
                }
            },
            "Transaction": {
                "type": "object",
                "properties": {
                    "organization": {
                        "format": "ObjectId",
                        "type": "string"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "price": {
                                    "type": "integer"
                                },
                                "percent": {
                                    "type": "integer"
                                },
                                "quantity": {
                                    "type": "integer"
                                },
                                "type": {
                                    "enum": [
                                        "aap",
                                        "aup",
                                        "addon",
                                        "tax",
                                        "fee",
                                        "one_time-charge",
                                        "one_time-credit",
                                        "coupon"
                                    ],
                                    "type": "string"
                                },
                                "owner": {
                                    "description": "Holds the owner to the item, which means who gets the money",
                                    "enum": [
                                        "abl"
                                    ],
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "itemHistory": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "price": {
                                    "type": "integer"
                                },
                                "percent": {
                                    "type": "integer"
                                },
                                "quantity": {
                                    "type": "integer"
                                },
                                "type": {
                                    "enum": [
                                        "aap",
                                        "aup",
                                        "addon",
                                        "tax",
                                        "fee",
                                        "one_time-charge",
                                        "one_time-credit",
                                        "coupon"
                                    ],
                                    "type": "string"
                                },
                                "owner": {
                                    "description": "Holds the owner to the item, which means who gets the money",
                                    "enum": [
                                        "abl"
                                    ],
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "paymentStates": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "type": {
                                    "enum": [
                                        "stripe",
                                        "payzen",
                                        "other"
                                    ],
                                    "type": "string"
                                },
                                "id": {
                                    "type": "string"
                                },
                                "amount": {
                                    "type": "integer"
                                },
                                "method": {
                                    "$ref": "#/components/schemas/paymentMethods"
                                }
                            }
                        }
                    },
                    "payments": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "amount": {
                                    "type": "integer"
                                },
                                "applicationFee": {
                                    "type": "integer"
                                },
                                "currency": {
                                    "enum": [
                                        "usd",
                                        "cad"
                                    ],
                                    "type": "string"
                                },
                                "id": {
                                    "type": "string"
                                },
                                "method": {
                                    "$ref": "#/components/schemas/paymentMethods"
                                }
                            }
                        }
                    },
                    "refunds": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "ids": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "method": {
                                    "$ref": "#/components/schemas/paymentMethods"
                                },
                                "amount": {
                                    "type": "integer"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "thirdPartyData": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "stripeCustomer": {
                        "type": "object"
                    },
                    "coupon": {
                        "format": "ObjectId",
                        "type": "string"
                    },
                    "itemTotal": {
                        "type": "integer"
                    },
                    "paymentTotal": {
                        "type": "integer"
                    },
                    "amountOwed": {
                        "type": "integer"
                    }
                }
            },
            "Organization": {
                "type": "object",
                "properties": {
                    "location": {
                        "format": "ObjectId",
                        "type": "string"
                    },
                    "organizations": {
                        "type": "array",
                        "items": {
                            "format": "ObjectId",
                            "type": "string"
                        }
                    },
                    "favoritedOperators": {
                        "type": "object"
                    },
                    "applicationFee": {
                        "type": "integer"
                    },
                    "role": {
                        "type": "string"
                    },
                    "groups": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "calendarId": {
                        "type": "string"
                    },
                    "companyName": {
                        "type": "string"
                    },
                    "companyImage": {
                        "type": "string"
                    },
                    "domainName": {
                        "type": "string"
                    },
                    "preferences": {
                        "type": "object"
                    },
                    "social": {
                        "type": "object",
                        "properties": {
                            "facebook": {
                                "type": "string"
                            },
                            "instagram": {
                                "type": "string"
                            },
                            "twitter": {
                                "type": "string"
                            },
                            "tripadvisor": {
                                "type": "string"
                            },
                            "googlePlus": {
                                "type": "string"
                            }
                        }
                    },
                    "primaryContact": {
                        "type": "object",
                        "properties": {
                            "fullName": {
                                "type": "string"
                            },
                            "phoneNumber": {
                                "type": "string"
                            },
                            "email": {
                                "type": "string"
                            }
                        }
                    },
                    "reminder": {
                        "type": "object"
                    },
                    "language": {
                        "enum": [
                            "en",
                            "fr",
                            "sp"
                        ],
                        "type": "string"
                    },
                    "languages": {
                        "type": "object",
                        "properties": {
                            "en": {
                                "type": "boolean"
                            },
                            "fr": {
                                "type": "boolean"
                            },
                            "sp": {
                                "type": "boolean"
                            }
                        }
                    },
                    "addRulesToPropertiesOnCreate": {
                        "type": "boolean"
                    },
                    "cancellationPolicyDays": {
                        "type": "integer"
                    },
                    "alwaysRefundable": {
                        "type": "boolean"
                    }
                }
            },
            "NotificationEvent": {
                "type": "object",
                "properties": {
                    "organization": {
                        "format": "ObjectId",
                        "type": "string"
                    },
                    "isClicked": {
                        "type": "boolean"
                    },
                    "isRead": {
                        "type": "boolean"
                    },
                    "type": {
                        "enum": [
                            "event",
                            "booking",
                            "guide"
                        ],
                        "type": "string"
                    },
                    "subtype": {
                        "enum": [
                            "created",
                            "updated",
                            "deleted",
                            "payment",
                            "refund",
                            "assigned",
                            "unassigned"
                        ],
                        "type": "string"
                    },
                    "data": {
                        "type": "object"
                    }
                }
            },
            "User": {
                "type": "object",
                "properties": {
                    "location": {
                        "format": "ObjectId",
                        "type": "string"
                    },
                    "profilePhoto": {
                        "format": "url",
                        "type": "string"
                    },
                    "fullName": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string"
                    },
                    "intercomUserId": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "phoneNumber": {
                        "type": "string"
                    },
                    "lang": {
                        "enum": [
                            "en",
                            "fr"
                        ],
                        "type": "string"
                    },
                    "status": {
                        "enum": [
                            "active",
                            "inactive"
                        ],
                        "type": "string"
                    }
                }
            },
            "coupon": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "object": {
                        "enum": [
                            "coupon"
                        ],
                        "type": "string"
                    },
                    "amount_off": {
                        "type": "integer"
                    },
                    "created": {
                        "type": "integer"
                    },
                    "duration": {
                        "enum": [
                            "forever",
                            "once",
                            "repeating"
                        ],
                        "type": "string"
                    },
                    "duration_in_months": {
                        "type": "integer"
                    },
                    "livemode": {
                        "type": "boolean"
                    },
                    "max_redemptions": {
                        "type": "integer"
                    },
                    "metadata": {
                        "type": "object"
                    },
                    "percentage_off": {
                        "type": "integer"
                    },
                    "redeem_by": {
                        "type": "integer"
                    },
                    "times_redeemed": {
                        "type": "integer"
                    },
                    "valid": {
                        "type": "boolean"
                    }
                }
            },
            "discount": {
                "type": "object",
                "properties": {
                    "object": {
                        "enum": [
                            "discount"
                        ],
                        "type": "string"
                    },
                    "coupon": {
                        "$ref": "#/components/schemas/coupon"
                    },
                    "customer": {
                        "type": "string"
                    },
                    "end": {
                        "type": "integer"
                    },
                    "start": {
                        "type": "integer"
                    },
                    "subscription": {
                        "type": "string"
                    }
                }
            },
            "plan": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "object": {
                        "enum": [
                            "plan"
                        ],
                        "type": "string"
                    },
                    "amount": {
                        "type": "integer"
                    },
                    "created": {
                        "type": "integer"
                    },
                    "currency": {
                        "enum": [
                            "usd",
                            "cad"
                        ],
                        "type": "string"
                    },
                    "interval": {
                        "enum": [
                            "month",
                            "year"
                        ],
                        "type": "string"
                    },
                    "interval_count": {
                        "type": "integer"
                    },
                    "livemode": {
                        "type": "boolean"
                    },
                    "metadata": {
                        "type": "object"
                    },
                    "name": {
                        "type": "string"
                    },
                    "statement_descriptor": {
                        "type": "string"
                    },
                    "trial_period_days": {
                        "type": "integer"
                    }
                }
            },
            "subscription": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "object": {
                        "enum": [
                            "subscription"
                        ],
                        "type": "string"
                    },
                    "customer": {
                        "type": "string"
                    },
                    "discount": {
                        "$ref": "#/components/schemas/discount"
                    },
                    "plan": {
                        "$ref": "#/components/schemas/plan"
                    }
                }
            },
            "paymentMethods": {
                "enum": [
                    "cash",
                    "credit",
                    "debit",
                    "gift",
                    "transfer"
                ],
                "type": "string"
            },
            "loginProfile": {
                "type": "object",
                "properties": {
                    "id": {
                        "format": "ObjectId",
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "fullName": {
                        "type": "string"
                    },
                    "isEmailVerified": {
                        "description": "Email verification status",
                        "type": "boolean"
                    },
                    "lang": {
                        "default": "en",
                        "type": "string"
                    },
                    "apikey": {
                        "$ref": "#/components/schemas/ApiKey"
                    },
                    "organization": {
                        "$ref": "#/components/schemas/Organization"
                    },
                    "subscription": {
                        "$ref": "#/components/schemas/subscription"
                    }
                }
            },
            "BookingResponse": {
                "description": "",
                "required": [
                    "booking",
                    "Transaction"
                ],
                "type": "object",
                "properties": {
                    "booking": {
                        "$ref": "#/components/schemas/Booking",
                        "description": ""
                    },
                    "Transaction": {
                        "$ref": "#/components/schemas/Transaction",
                        "description": ""
                    },
                    "modifiedPaths": {
                        "description": "Not Applicable for new bookings. Booking modification is not accesible via public API"
                    },
                    "iframeHtml": {
                        "description": "The “iframHtml” value is directly rendered in an iframe. The rendered stripe form in iframe will handle the necessary steps for completing the payment and post a message back to the parent window with payment status, this can be used for user feedback in the frontend.\n    // window.addEventListener(\"message\", function(event) { ... }\n    // Following is the relevant info from the event object \n    {\n      ...\n      data: {\n        type: \"payment_success\" // or \"payment_error\"\n        message: \"\" // Error description if there was an error\n      }\n      ...\n    }\n\nBooking is successful when the “payment_success” message is received, until then the booking will be in “incomplete” status."
                    }
                },
                "example": {
                    "transaction": {
                        "_id": "5e7238885690ad022ee5385b",
                        "amountOwed": 2060,
                        "paymentTotal": 0,
                        "itemTotal": 2060,
                        "updatedAt": "2020-03-18T15:04:40.885Z",
                        "createdAt": "2020-03-18T15:04:40.885Z",
                        "organization": "59f9095faf8286149d5b1f06",
                        "currency": "usd",
                        "targetType": "booking",
                        "redemptions": [
                        ],
                        "refunds": [
                        ],
                        "payments": [
                        ],
                        "paymentStates": [
                        ],
                        "itemHistory": [
                            {
                                "updatedAt": "2020-03-18T15:04:40.885Z",
                                "createdAt": "2020-03-18T15:04:40.885Z",
                                "_id": "5e7238885690ad022ee5385c",
                                "items": [
                                    {
                                        "updatedAt": "2020-03-18T15:04:40.885Z",
                                        "createdAt": "2020-03-18T15:04:40.885Z",
                                        "name": "Adult",
                                        "type": "aap",
                                        "price": 2000,
                                        "_id": "5e7238885690ad022ee5385e",
                                        "quantity": 1,
                                        "id": "5e7238885690ad022ee5385e"
                                    },
                                    {
                                        "updatedAt": "2020-03-18T15:04:40.885Z",
                                        "createdAt": "2020-03-18T15:04:40.885Z",
                                        "type": "service",
                                        "name": "Service Fee",
                                        "price": 60,
                                        "percent": 3,
                                        "owner": "abl",
                                        "_id": "5e7238885690ad022ee5385d",
                                        "quantity": 1,
                                        "id": "5e7238885690ad022ee5385d"
                                    }
                                ],
                                "id": "5e7238885690ad022ee5385c"
                            }
                        ],
                        "items": [
                            {
                                "updatedAt": "2020-03-18T15:04:40.884Z",
                                "createdAt": "2020-03-18T15:04:40.884Z",
                                "name": "Adult",
                                "type": "aap",
                                "price": 2000,
                                "_id": "5e7238885690ad022ee53860",
                                "quantity": 1,
                                "id": "5e7238885690ad022ee53860"
                            },
                            {
                                "updatedAt": "2020-03-18T15:04:40.885Z",
                                "createdAt": "2020-03-18T15:04:40.885Z",
                                "type": "service",
                                "name": "Service Fee",
                                "price": 60,
                                "percent": 3,
                                "owner": "abl",
                                "_id": "5e7238885690ad022ee5385f",
                                "quantity": 1,
                                "id": "5e7238885690ad022ee5385f"
                            }
                        ],
                        "booking": [
                            {
                                "organizations": [
                                    "59f9095faf8286149d5b1f06",
                                    "59f9095faf8286149d5b1f06",
                                    "5afdf43dd3cc3e017141fe2c"
                                ],
                                "answers": [
                                ],
                                "bookingId": "XZ1C438T",
                                "isMobile": false,
                                "notes": "",
                                "confirmationMailsSent": {
                                    "operator": false,
                                    "customer": false
                                },
                                "status": "incomplete",
                                "title": "Testing app fee and stripe fee",
                                "currency": "usd",
                                "metadata": {
                                    "sendConfirmationEmail": true
                                },
                                "clientData": {
                                    "languages": [
                                    ],
                                    "_id": "5e7238885690ad022ee53862",
                                    "ipAddress": "106.51.235.72",
                                    "phoneNumber": "1234567890",
                                    "fullName": "Tamillharasan",
                                    "email": "customer@gmail.com",
                                    "createdAt": "2020-03-18T15:04:40.900Z",
                                    "updatedAt": "2020-03-18T15:04:40.900Z"
                                },
                                "activity": "5b47756d3def4d6f88827810",
                                "transaction": "5e7238885690ad022ee5385b",
                                "apiKey": {
                                    "userRole": "public",
                                    "organizations": [
                                        "59f9095faf8286149d5b1f06"
                                    ],
                                    "publicKey": "Febd0lsF2TLzoR2RQKl8qZjmfz22etPzDQ7HBtyn94V298rGP2UMaFoYxP4gR0Xn",
                                    "permissions": [
                                        "activities:read",
                                        "bookings:create",
                                        "bookings:read",
                                        "transactions:read",
                                        "transactions:update"
                                    ],
                                    "netMasksV4": [
                                    ],
                                    "netMasksV6": [
                                    ],
                                    "public": true,
                                    "status": "active",
                                    "user": "59f90968af8286149d5b1f08",
                                    "createdAt": "2017-10-31T23:38:16.353Z",
                                    "updatedAt": "2019-09-27T16:13:52.287Z",
                                    "_id": "59f90968af8286149d5b1f0d"
                                },
                                "timeZone": "Asia/Kolkata",
                                "startTime": "2020-03-31T15:30:00.000Z",
                                "eventInstanceId": "ra1mdgpvlq1qsffsll5t5rv9l8_20200331T153000Z",
                                "createdAt": "2020-03-18T15:04:40.900Z",
                                "updatedAt": "2020-03-18T15:04:40.900Z",
                                "originalTitle": "Testing app fee and stripe fee",
                                "_id": "5e7238885690ad022ee53861"
                            }
                        ],
                        "id": "5e7238885690ad022ee5385b"
                    },
                    "modifiedPaths": [
                    ],
                    "iframeHtml": "<!DOCTYPE html>\n<html>\n<head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <script src=\"https://js.stripe.com/v3/\"></script>\n    <link href=\"https://fonts.googleapis.com/css?family=Roboto\" rel=\"stylesheet\">\n    <link href=\"https://fonts.googleapis.com/icon?family=Material+Icons\" rel=\"stylesheet\">\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js\"></script>\n    <script src=\"https://cdn.ravenjs.com/3.26.2/raven.min.js\" crossorigin=\"anonymous\"></script>\n    <script>\n        if (typeof Object.assign != 'function') {\n          // Must be writable: true, enumerable: false, configurable: true\n          Object.defineProperty(Object, \"assign\", {\n            value: function assign(target, varArgs) { // .length of function is 2\n              'use strict';\n              if (target == null) { // TypeError if undefined or null\n                throw new TypeError('Cannot convert undefined or null to object');\n              }\n              var to = Object(target);\n              for (var index = 1; index < arguments.length; index++) {\n                var nextSource = arguments[index];\n                if (nextSource != null) { // Skip over if undefined or null\n                  for (var nextKey in nextSource) {\n                    // Avoid bugs when hasOwnProperty is shadowed\n                    if (Object.prototype.hasOwnProperty.call(nextSource, nextKey)) {\n                      to[nextKey] = nextSource[nextKey];\n                    }\n                  }\n                }\n              }\n              return to;\n            },\n            writable: true,\n            configurable: true\n          });\n        }\n    </script>\n\n    <style>html,body {font-family: 'Roboto', sans-serif;}.StripeElement {background-color: white;padding: 8px 0px 0px 0px;border-radius: 4px;color: rgb(9,9,9);border: 1px solid transparent;box-shadow: 0 1px 3px 0 #e6ebf1;-webkit-transition: box-shadow 150ms ease;font-size: 12px !important;transition: box-shadow 150ms ease;}.StripeElement--focus {box-shadow: 0 1px 3px 0 #cfd7df;}.StripeElement--invalid {border-color: #fa755a;}.StripeElement--webkit-autofill {background-color: #fefde5 !important;}.submitButton {width: 100%;height: 42px;width: 100%;font-family: 'Roboto', sans-serif;background-color: #2196f3;font-size: 15px;color: #fff;cursor: pointer;-webkit-font-smoothing: antialiased;font-weight: 500;outline: none;border-radius: 4px;border: 1px solid transparent;box-shadow: 0 0px 3px 0 rgba(82, 82, 82, 0.6);}.submitButton:hover {color: #fff;bakground: rgba(33, 150, 243, 0.8);box-shadow: 0 0px 3px 0 rgba(82, 82, 82, 0.92);}.submitButton:disabled {background: rgba(0, 0, 0, 0.1);color: #999;cursor: auto;}.ElementsApp .InputElement {color: rgb(9,9,9) !important;opacity: 1;line-height: 36px;font-family: \"Helvetica Neue\", Helvetica, sans-serif;-webkit-font-smoothing: antialiased;font-size: 14px !important;height: 46px !important;}.ElementsApp input {margin: 0px;}.StripeElement--empty {color: black;}input:disabled, textarea:disabled {color: rgb(15,15,15);}#loader,#loader:after {border-radius: 50%;width: 30px;height: 30px;}#loader {font-size: 10px;position: relative;text-indent: -9999em;border-top: 0.4em solid #2196f3;border-right: 0.4em solid #2196f3;border-bottom: 0.4em solid #2196f3;border-left: 0.4em solid #ffffff;-webkit-transform: translateZ(0);-ms-transform: translateZ(0);transform: translateZ(0);-webkit-animation: load8 1.1s infinite linear;animation: load8 1.1s infinite linear;}@-webkit-keyframes load8 {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}@keyframes load8 {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}#card-errors {color: red;font-size: 14px;min-height: 14px;margin: 8px 0;}#payment-form{margin-top: 16px;}.stripeForm {max-width: 400px;max-height: 400px;padding: 16px;margin: 0 auto;background-color: #fff;border-radius: 5px;position: relative;border: 1px solid #dedede;}.stripeForm .form-row {display: -ms-flexbox;display: flex;flex-direction: row;-ms-flex-direction: row;}.margin-form-row{margin: 16px 0px;}.stripeForm .form-row.margin-form-row-flex .field {width: 48%;}.stripeForm .form-row.margin-form-row-flex .separator {width: 4%;}.stripeForm .form-row .field {position: relative;width: 100%;}.stripeForm .form-row .separator{width: 20px;}.stripeForm .input {background-color: transparent;padding: 8px;}.stripeForm .baseline {position: absolute;width: 100%;height: 1px;left: 0;bottom: 0;background-color: rgba(0,0,0,0.12);transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);}.stripeForm label {position: absolute;width: 100%;left: 0;bottom: 8px;color: #222222;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;transform-origin: 0 50%;cursor: text;transition-property: color, transform;transition-duration: 0.3s;transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);font-size: 14px;}.stripeForm .input::-webkit-input-placeholder {color: transparent;transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);}.stripeForm .input::-moz-placeholder {color: transparent;transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);}.stripeForm .input:-ms-input-placeholder {color: transparent;transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);}.stripeForm .input.StripeElement {opacity: 0;transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);will-change: opacity;}.stripeForm .input.focused,.stripeForm .input:not(.empty) {opacity: 1;}.stripeForm .input.focused::-webkit-input-placeholder,.stripeForm .input:not(.empty)::-webkit-input-placeholder {color: #cfd7df;}.stripeForm .input.focused::-moz-placeholder,.stripeForm .input:not(.empty)::-moz-placeholder {color: #cfd7df;}.stripeForm .input.focused:-ms-input-placeholder,.stripeForm .input:not(.empty):-ms-input-placeholder {color: #cfd7df;}.stripeForm .input.focused + label,.stripeForm .input:not(.empty) + label {color: #1898f6;transform: scale(0.85) translateY(-25px);cursor: default;}.stripeForm .input.focused + label {color: #2196f3;}.stripeForm .input.invalid + label {color: #ff5f5f;}.stripeForm .input.focused + label + .baseline {background-color: #24b47e;}.stripeForm .input.focused.invalid + label + .baseline {background-color: #e25950;}.stripeForm input {-webkit-appearance: none;-moz-appearance: none;appearance: none;outline: none;border-style: none;}.stripeForm input:-webkit-autofill {-webkit-text-fill-color: #e39f48;transition: background-color 100000000s;-webkit-animation: 1ms void-animation-out;}.stripeForm .StripeElement--webkit-autofill {background: transparent !important;}.stripeForm input {-webkit-animation: 1ms void-animation-out;}.stripeForm input[type=\"submit\"] {display: block;width: calc(100% - 30px);height: 40px;margin: 40px 15px 0;background-color: #24b47e;border-radius: 4px;color: #fff;text-transform: uppercase;font-weight: 600;cursor: pointer;}.stripeForm input[type=\"submit\"]:active {background-color: #159570;}.stripeForm .error svg {margin-top: 0 !important;}.stripeForm .error svg .base {fill: #e25950;}.stripeForm .error svg .glyph {fill: #fff;}.stripeForm .error .message {color: #e25950;}.stripeForm .success .icon .border {stroke: #abe9d2;}.stripeForm .success .icon .checkmark {stroke: #24b47e;}.stripeForm .success .title {color: #32325d;font-size: 16px !important;}.stripeForm .success .message {color: #8898aa;font-size: 13px !important;}.stripeForm .success .reset path {fill: #24b47e;}.CardField-cvc {color: blue}.icons{height:40px;width: 100%;margin-bottom: 8px;background-repeat: no-repeat;background-size: contain;background-position: center top;}.material-icons{font-size: 18px !important;position: absolute;right: 0;top: 10px;}md-tooltip{display: none;}md-tooltip .md-content {height: auto;padding: 10px !important;line-height: 1.2em !important;max-width: 240px !important;max-height: 500px !important;text-align: center !important;background-color: rgba(180,180,180,1) !important;color: #333 !important;white-space: inherit !important;}md-tooltip.cvc-tooltip{top: 68px !important;}md-tooltip .md-content img{display: block;margin: 0 auto 16px 0;width: 100%;height: auto;}.abl-tooltip{max-width:300px;background-color: #999;color: #fff;padding: 16px;font-size: 12px;position: absolute;z-index: 99999;border-radius: 10px;}i.material-icons{cursor: pointer;}.abl-tooltip img{display: block;margin: 0 auto 15px auto;width: 100%;height: auto;}.abl-tooltip .close-tooltip{position: absolute;right: 8px;top: 0px;}.success {padding-top: 100px;text-align: center;}.icons.cards-mastercard-true-visa-true-discover-true-amex-true{background-image: url(https://s3.amazonaws.com/assets.ablsolution.com/Dashboard/cardsall.png)}.icons.cards-mastercard-true-visa-true-discover-false-amex-false{background-image: url(https://s3.amazonaws.com/assets.ablsolution.com/Dashboard/cards2.png)}.icons.cards-mastercard-true-visa-true-discover-false-amex-true{background-image: url(https://s3.amazonaws.com/assets.ablsolution.com/Dashboard/cards3.png)}.icons.cards-mastercard-true-visa-true-discover-true-amex-false{background-image: url(https://s3.amazonaws.com/assets.ablsolution.com/Dashboard/cards3.1.png)}</style>\n\n</head>\n\n<body>\n    <div class=\"stripeForm\" id=\"stripeForm\">\n        <div class=\"icons cards-mastercard-true-visa-true-discover-true-amex-true\"></div>\n        <div id=\"card-errors\"></div>\n        <form method=\"post\" name=\"payment_form\" id=\"payment-form\">\n            <div id=\"payment-form-container\">\n                <!-- Display all fields -->\n                    <div class=\"form-row margin-form-row\">\n                        <div class=\"field\">\n                            <div class=\"input\" id=\"card-number\"></div>\n                            <label for=\"card-number\">Card Number</label>\n                            <div class=\"baseline\"></div>\n                        </div>\n                    </div>\n                    <div class=\"form-row margin-form-row margin-form-row-flex\">\n                        <div class=\"field\">\n                            <div class=\"input\" id=\"card-expiry\"></div>\n                            <label for=\"card-expiry\">Exp Date (MM/YY)</label>\n                            <div class=\"baseline\"></div>\n                        </div>\n                        <div class=\"separator\"></div>\n                        <div class=\"field\">\n                            <div class=\"input\" id=\"card-cvc\"></div>\n                            <label for=\"card-cvc\">Security Code</label>\n                            <i class=\"material-icons\">info <md-tooltip class=\"cvc-tooltip\" md-direction=\"left\"><img src=\"https://s3.amazonaws.com/assets.ablsolution.com/Dashboard/cvv.png\" />Security Code number can be located by looking on your credit or debit card</md-tooltip></i>\n                            <div class=\"baseline\"></div>\n                        </div>\n                    </div>\n                    <div class=\"form-row margin-form-row\">\n                        <div class=\"field\">\n                            <div class=\"input\" id=\"postal-code\"></div>\n                            <label for=\"postal-code\">Postal Code</label>\n                            <div class=\"baseline\"></div>\n                        </div>\n                    </div>\n                <!-- Display all fields -->\n                \n                \n                <!-- Display with postal code hidden and cvc visible -->\n                <!-- Display with postal code hidden and cvc visible -->\n                \n                \n                <!-- Display with postal code visible and cvc hidden -->\n                <!-- Display with postal code visible and cvc hidden -->\n                \n                \n                <!-- Display with postal code hidden and cvc hidden -->\n                <!-- Display with postal code hidden and cvc hidden -->\n                \n            </div>\n            <div class=\"form-row\">\n                <div id=\"loading\" style=\"width:40px;height:40px;margin:auto;overflow:hidden;display:none;position:absolute;left:0px;right:0px;\">\n                    <div id=\"loader\">Loading...</div>\n                </div>\n            </div>\n            <button id=\"main-submit-button\" class=\"submitButton\">Pay </button>\n        </form> \n    </div>\n\n    <div class=\"success\" id=\"success\" style=\"display:none\">\n        <h2>Payment was successful.</h2>\n        <p>Please check your inbox for a confirmation email.</p>\n    </div>\n\n    <script>\n        var loading;\n\n        Raven.config(\"https://773da28290384e5ab4fd35fafb2d09cd@sentry.adventurebucketlist.com/6\").install();\n        Raven.captureMessage('Payment form loaded.', {\n          level: 'info' // one of 'info', 'warning', or 'error'\n        });\n\n        var inputs = document.querySelectorAll('.stripeForm .input');\n        Array.prototype.forEach.call(inputs, function(input) {\n            input.addEventListener('focus', function() {\n                input.classList.add('focused');\n            });\n            input.addEventListener('blur', function() {\n                input.classList.remove('focused');\n            });\n            input.addEventListener('keyup', function() {\n                if (input.value.length === 0) {\n                    input.classList.add('empty');\n                } else {\n                    input.classList.remove('empty');\n   
[...]
